
body {
    font-family: "Poppins", sans-serif;
    color: #2B170D;
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #2B170D;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    padding: 0;
}

header h1 i {
    color: #FFF9F3;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: #FFF9F3;
    text-decoration: none;
    padding: 20px;
}
.banner {
    margin: 0;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 30px;
    background-color: #F3E6D7;
    padding: 40px 20px; 
}
.p {
    margin: 0;
    color: #C66A1A;
}

#imagem {
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}

#imagem img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}
.banner a {
    background-color: #C66A1A;
    color: #FFF9F3;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
}

#sobre {
    background-color: #FFF9F3;
    padding: 20px;
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    gap: 30px; 
    text-align: right;
}

#imagemSobre img{
    width: 500px;
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    
}



#sobre a {
    background-color: #C66A1A;
    color: #FFF9F3;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
}

.sobre-cabecalho p {
    margin: 0;
    color: #C66A1A;
}

#produtos {
    margin: 0;
    background-color: #F3E6D7;
    padding: 40px 20px 60px 20px; 
    box-sizing: border-box;
}

.lista-cafe {
    list-style: none;
    padding: 0;
    margin: 30px auto 0 auto; 
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card-cafe {
    background-color: #FFF9F3;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05); 
    
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}


.card-cafe img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 15px;
}


.card-cafe h3 {
    margin: 10px 0 5px 0;
    font-size: 1.2rem;
}

.card-cafe p {
    margin: 5px 0;
    font-size: 0.95rem;
}


.card-cafe a {
    align-self: flex-start; 
    margin-top: 15px;
}

.lista-cafe a {
    background-color: #C66A1A;
    color: #FFF9F3;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    padding: 12px;
    display: inline-block;
    
}

.ambiente-imagem img{
    width: 400px;
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    
}

.ambiente-conteudo {
    background-color: #FFF9F3;
    padding: 60px 20px;
    margin: 0;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: 40px; 
}


.ambiente-imagem {
    margin: 0;
}

.ambiente-imagem img {
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
}


.ambiente-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.ambiente-cabecalho {
    margin-bottom: 15px;
}

.ambiente-cabecalho p {
    margin: 0;
    color: #C66A1A;
}

.ambiente-cabecalho h2 {
    margin: 5px 0 0 0;
    font-size: 2rem;
}

#ambiente a {
    background-color: #C66A1A;
    color: #FFF9F3;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
}

