.equipe{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0;
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
}

.teste-a{
    display: flex;
    align-items: flex-start;
}

.teste-b{
    display: flex;
    align-items: center;
}

.teste-c{
    display: flex;
    align-items: flex-end;
}


.cards{
display: flex;
gap: 30px;

}