
 /* Exercicio1 */
/* .grid-itens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 43px;
    list-style: none;
} */
/*_________________________________________________ */
/* Exercicio2 */
/* .grid-itens{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 43px;
    list-style: none;
} */
/*_________________________________________________ */
/* Exercicio3 */
/* .grid-itens{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 43px;
    list-style: none;
}A primeira coluna "2fr", ficou maior */
/*_________________________________________________ */
/* Exercicio4 */
/* .grid-itens{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 43px;
    list-style: none;
} */
/*_________________________________________________ */

/* Exercicio5 */
/* Celular */
/* @media( max-width: 200px) {
    .grid-itens{
        grid-template-columns:repeat(3, 1fr);
    }
} */

/* Tablet */
/* @media( max-width: 500px) {
    .grid-itens {
        grid-template-columns: repeat(2, 1fr);
}
} */
/* Computador */
/* @media( max-width: 768px) {
    .grid-itens {
        grid-template-columns: repeat(1, 1fr);
    }
} */

/*_________________________________________________ */
/* Exercicio6 */
/* .grid-itens{
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(220px, 1fr));
    gap: 43px;
    list-style: none;
} */